<h1>Bugtracker</h1>
{% if request.user.is_authenticated %}
    <h2>Welcome to Bugtracker, {{ request.user.username }}!</h2>
    <p>
        <a href="/logout/"><button>Logout</button></a>
    </p>
    <ul>
        <h1>New Tickets</h1>
        {% for ticket in new_tickets %}
            <li>
                <a href="/ticket/{{ ticket.id }}">{{ ticket.title }}</a>
            </li>
        {% endfor %}
        <h1>Incomplete Tickets</h1>
        {% for ticket in in_progress_tickets %}
            <li>
                <a href="/ticket/{{ ticket.id }}">{{ ticket.title }}</a>
            </li>
        {% endfor %}
        <h1>Completed Tickets</h1>
        {% for ticket in completed_tickets %}
            <li>
                <a href="/ticket/{{ ticket.id }}">{{ ticket.title }}</a>
            </li>
        {% endfor %}
        <h1>Invalid Tickets</h1>
        {% for ticket in invalid_tickets %}
            <li>
                <a href="/ticket/{{ ticket.id }}">{{ ticket.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/newticket/">Create New Ticket</a>
{% else %}
    <h2>You must log on to access Bugtracker.</h2>
    <p>
        <a href="/login/"><button>Login</button></a>
    </p>
{% endif %}
